<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aeronet.Chart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Aeronet.Chart.Properties.Settings>
            <setting name="BTN_SAVE_TEXT" serializeAs="String">
                <value>保存(&amp;S)</value>
            </setting>
            <setting name="BTN_REFRESH_TEXT" serializeAs="String">
                <value>刷新(&amp;R)</value>
            </setting>
            <setting name="BTN_CLOSE_TEXT" serializeAs="String">
                <value>关闭(&amp;C)</value>
            </setting>
            <setting name="FM_OPTION_CONFIG_TEXT" serializeAs="String">
                <value>参数配置</value>
            </setting>
            <setting name="FM_REGION_CONFIG_TEXT" serializeAs="String">
                <value>站台配置</value>
            </setting>
            <setting name="BTN_NEW_TEXT" serializeAs="String">
                <value>新建(&amp;N)</value>
            </setting>
            <setting name="BTN_DELETE_TEXT" serializeAs="String">
                <value>删除(&amp;D)</value>
            </setting>
            <setting name="FM_AERONET_DATA_TEXT" serializeAs="String">
                <value>数据处理</value>
            </setting>
            <setting name="BTN_SCAN_TEXT" serializeAs="String">
                <value>扫描(&amp;S)</value>
            </setting>
            <setting name="BTN_PROCESS_TEXT" serializeAs="String">
                <value>运行(&amp;P)</value>
            </setting>
            <setting name="COL_NAME" serializeAs="String">
                <value>名称</value>
            </setting>
            <setting name="COL_TYPE" serializeAs="String">
                <value>类型</value>
            </setting>
            <setting name="COL_LSTMDY" serializeAs="String">
                <value>修改日期</value>
            </setting>
            <setting name="FM_DATA_PRO_TEXT" serializeAs="String">
                <value>数据运行</value>
            </setting>
            <setting name="LBL_INITIAL" serializeAs="String">
                <value>[初始化]</value>
            </setting>
            <setting name="BTN_START_TEXT" serializeAs="String">
                <value>开始(&amp;S)</value>
            </setting>
            <setting name="BTN_STOP_TEXT" serializeAs="String">
                <value>终止(&amp;S)</value>
            </setting>
            <setting name="DEFAULT_FONT" serializeAs="String">
                <value>Microsoft YaHei, 9pt</value>
            </setting>
            <setting name="FM_ABOUT_TEXT" serializeAs="String">
                <value>关于</value>
            </setting>
        </Aeronet.Chart.Properties.Settings>
    </applicationSettings>
</configuration>