<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ARG_STNS_FN" value="hangzhou" />
    <add key="ARG_STNS_ID" value="808" />
    <add key="ARG_FDATA" value="hangzhou-808-1" />
    <!--FIPT is the relative folder path of ins_para which is used by creator-->
    <add key="ARG_FIPT" value="ins_para" />
    <!--FOUT is the relative folder path of creator output which will be the input of main program-->
    <add key="ARG_FOUT" value="input" />
    <!--FBRDF is the relative folder path of modis_brdf which is used by creator-->
    <add key="ARG_FBRDF" value="modis_brdf" />
    <!--FBRDF is the relative folder path of data which is used by creator-->
    <add key="ARG_FDAT" value="data" />
    <add key="Creator" value="create_input_carsnet.exe" />
    <add key="Outputor" value="main.exe" />
    <add key="Regions_store" value="regions.json" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>